* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-size: 1em;
}

h1 {
  background-color: #fff;
}

h2 {
  background-color: darksalmon;
}

h2.random{
  background-color: blueviolet;
}

h2.recipe{
  background-color:greenyellow;
}

h2.last{
  background-color: rgb(229, 177, 114);
}

h2.area{
  background-color: rgb(107, 113, 226);
}

h2.category{
  background-color: rgb(43, 226, 159);
}

h2.ingredient{
  background-color: rgb(226, 195, 43);

}

h3 {
  background-color: brown;
}
img {
  border-radius: 1em;
  box-shadow: 10rem;
}

a {
  box-shadow: 10rem;
}
.json {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.lists{
  /* max-width: 10vmin; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;

}

.card {
  max-width: 40vw;
  min-width: 13vw;
  background-color: rgb(212, 225, 225);
  border-radius: 1em;
  /* display: inline-flex; */
  /* width: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: auto;
  margin: 10px;
}
.cardContainer {
  /* max-width: 40vw; */
  background-color: rgb(212, 225, 225);
  border-radius: 1em;
  /* display: inline-flex; */
  /* width: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* text-align: center; */
  align-items: center;
  padding: auto;
  margin: 10px;
}

.cardIngredient{
  background-color: rgb(212, 225, 225);
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: auto;
  margin: 10px;
}
.cardTextContainer {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-flow: wrap;
  /* visibility: collapse; */
}
.cardImgContainer {
}
.linkCard {
  text-decoration: none;
}
.imgCard {
  max-width: 10vw;
}

/* 
.card:hover .cardTextContainer {
  display: block;
  
}  */
