* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}

img {
  border-radius: 1em;
  box-shadow: 10rem;
}

a {
  box-shadow: 10rem;
}
.json {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cardContainer {
  background-color: rgb(212, 225, 225);
  border-radius: 1em;
  display: inline-flex;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: auto;
  margin: 10px;
}
.cardTextContainer {
}
.cardImgContainer {
}
.linkCard {
}
imgCard {
}
